* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: #622525e8;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    background-color: #460808df;
    padding: 32px;
    margin-top: 32px;
    border-radius: 8px;
}

.main-title {
    margin: 32px 0;
}

.title {
    margin: 16px 0;
}